# ── PostgreSQL ────────────────────────────────────────────
POSTGRES_DB=clinica_vet          # Nombre de la base de datos
POSTGRES_USER=mi_usuario         # Usuario superusuario (ejemplo: postgres)
POSTGRES_PASSWORD=mi_password    # Contraseña del superusuario

# ── Contenedores ──────────────────────────────────────────
DB_CONTAINER=vet_postgres        # Nombre del contenedor PostgreSQL
DB_PORT=5432                     # Puerto expuesto de PostgreSQL
REDIS_CONTAINER=vet_redis        # Nombre del contenedor Redis
REDIS_PORT=6379                  # Puerto de Redis
API_CONTAINER=vet_api            # Nombre del contenedor de la API
FRONTEND_CONTAINER=vet_frontend  # Nombre del contenedor del frontend
API_PORT=3000                    # Puerto de la API
FRONTEND_PORT=3001               # Puerto del frontend

# ── Caché Redis ───────────────────────────────────────────
CACHE_TTL=300                              # TTL en segundos (5 minutos)
CACHE_KEY_VACUNACION=vacunacion:pendiente  # Prefijo de key en Redis

# ── Usuarios de BD por rol ────────────────────────────────
# Estos usuarios los crea automáticamente 05_roles_y_permisos.sql
# Las contraseñas aquí deben coincidir con las del archivo SQL
DB_USER_RECEPCION=recepcion1     # Ejemplo
DB_PASS_RECEPCION=mi_pass_recep  # Ejemplo

DB_USER_ADMIN=admin_vet          # Ejemplo
DB_PASS_ADMIN=mi_pass_admin      # Ejemplo

# ── Usuarios individuales por veterinario ─────────────────
DB_USER_VET_1=dr_lopez           # Corresponde a veterinario id=1
DB_PASS_VET_1=mi_pass_vet1       # Ejemplo

DB_USER_VET_2=dra_garcia         # Corresponde a veterinario id=2
DB_PASS_VET_2=mi_pass_vet2       # Ejemplo

DB_USER_VET_3=dr_mendez          # Corresponde a veterinario id=3
DB_PASS_VET_3=mi_pass_vet3       # Ejemplo